@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Tangerine:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Libre Baskerville, serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #551015;
    --text-color: #efdabd;
    --second-text-color: #161411;
    --heading-color: #FFA751;
    --accent-color: #fe1d2b;
}


body{
    background: var(--bg-color);
    color: var(--text-color);
}

.main-container{
    width: 100%;
    height: 100svh;
}

/* Hero Section */
.hero-section{
    width: 100%;
    height: 100svh;
}

.hero-section .image-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.hero-section .image-bg::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #551015, #BB232E, #551015);
    mix-blend-mode: multiply;
    opacity: .8;
}

.hero-section .image-bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center right;
    flex-shrink: 0;
}


/* Navbar */
.navbar{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 24px 0;
}

.navbar p{
    font-size: .875rem;
    font-style: italic;
    color: var(--heading-color);
}

.navbar p:last-child{
    padding-top: 16px;
}


/* Hero Content */
.hero-content{
    width: 100%;
    height: 100%;
    padding: 0 24px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
}

.hero-content .hero-text{
    display: grid;
    place-items: center;
    gap: 15px;
    text-align: center;
}

.hero-content .hero-text h1{
    font-family: Tangerine, serif;
    font-size: 3.125rem;
    font-weight: 700;
    -webkit-text-stroke: #efdabd;
    -webkit-text-stroke-width: 2px;
    letter-spacing: 1.5px;
    /* Typing effect properties */
    overflow: hidden;
    border-right: 3px solid var(--text-color);
    white-space: nowrap;
    animation: typing 3.5s steps(20, end), blink 0.75s step-end infinite;
    /* animation-delay: 2000ms; */
    display: inline-block;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-right-color: transparent;
    }

}

.hero-content .hero-text p{
    font-size: 1rem;
    font-style: italic;
    color: var(--heading-color);
}

.hero-content a{
    all: unset;
    font-size: .75rem;
    background: var(--accent-color);
    padding: 16px 24px;
    border-radius: 4px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: all .5s cubic-bezier(0.39, 0.575, 0.565, 1);
    cursor: pointer;
}

.hero-content a i{
    font-size: 1rem;
}

.hero-content a:hover,
.hero-content a:focus{
    box-shadow: 2px 4px 6px #00000050;
    transform: translateY(-4px);
}


/* Gallery Section */
.gallery-section{
    width: 100%;
    height: auto;
    padding: 48px 24px 72px;
    background: linear-gradient(to right, #5D070C, #990c13, #5D070C);
    overflow: hidden;
}

.gallery-section .gallery-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 56px;
}

.gallery-section .gallery-header h1{
    font-size: 1.25rem;
    font-weight: 700;
    font-style: italic;
    color: var(--heading-color);
}

.image-gallery-container{
    width: 100%;
    height: auto;
}

.image-gallery-container .image-gallery-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.image-gallery-wrapper .image{
    position: relative;
    aspect-ratio: 3/4;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    transition: all .5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.image-gallery-wrapper .image:hover{
    transform: translateY(-1px);
    box-shadow: 0 4px 4px #00000050;
}

.image-gallery-wrapper .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.image .img-hover-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #03030390;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    opacity: 0;
    transition: all .5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.image .img-hover-overlay:hover{
    opacity: 1;
}

.image .img-hover-overlay button{
    all: unset;
    width: 30px;
    height: 30px;
    background: #EFDABD10;
    backdrop-filter: blur(10px);
    border: 1px solid var(--text-color);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    transition: all .5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.image .img-hover-overlay button:hover{
    background: #EFDABD;
    color: var(--second-text-color);
}

.image .img-hover-overlay p{
    font-size: 10px;
    text-align: center;
}

/* Letter Section */
.letter-section{
    width: 100%;
    height: auto;
    background: linear-gradient(to right, #5D070C, #990c13, #5D070C);
    padding: 0 24px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.letter-section .letter-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 56px;
}

.letter-section .letter-header h1{
    font-size: 1.25rem;
    font-weight: 700;
    font-style: italic;
    color: var(--heading-color);
}


.letter-section .letter{
    position: relative;
    width: calc(100% - 25px);
    height: auto;
    background: var(--text-color);
    color: var(--second-text-color);
    padding: 16px;
    font-style: italic;

    display: grid;
    gap: 24px;
}

.letter-section .letter::before{
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-style: dashed;
    border-color: var(--heading-color);
    border-width: 5px;
    padding: 1px;
}

.letter-section .letter h1,
.letter-section .letter h6,
.letter-section .letter p{
    font-size: .75rem;
}

.letter-section .letter h6{
    text-align: right;
    padding-top: 24px;
}


/* Footer */
.footer{
    width: 100%;
    padding: 24px;
}

.footer p{
    font-size: .625rem;
    text-align: center;
}

audio{
    display: none;
}